<footer class="footer-concord">
    <div class="footer-container">
      <div class="footer-socials">
        <a href="#" class="social-icon" title="Facebook">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="#" class="social-icon" title="Twitter">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="#" class="social-icon" title="LinkedIn">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="#" class="social-icon" title="Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>
      <div class="footer-text">
        <p>&copy; 2024 Concord. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  