<header class="header-concord">
    <div class="header-container">
      <div class="logo-section">
        <img src="logoTaxi.png" alt="Logo" class="logo-image" />
        <span class="logo-text">CONCORD</span>
      </div>
      <nav class="nav-links">
        <a href="#" class="nav-link">
          <fa-icon [icon]="faHome"></fa-icon> Home
        </a>
        <a href="#" class="nav-link">
          <fa-icon [icon]="faUsers"></fa-icon> Nosotros
        </a>
        <a href="#" class="nav-link">
          <fa-icon [icon]="faCogs"></fa-icon> Servicios
        </a>
      </nav>
      <button class="login-button">
        <fa-icon [icon]="faSignInAlt"></fa-icon> Login
      </button>
    </div>
  </header>
  